/* FONT FACE */
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DM Serif Display';
    src: url('../fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('../fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM PROPS */
:root {
    --title-font: 'DM Serif Display', "Georgia", serif;
    --text-font: 'Jost', "Arial", sans-serif;
    --primary-color: #292f36;
    --brand-color: #cda274;
    --text-color: #4d5053;
    --white-color: #fff;
    --black-color: #000;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    font-size: 62.5%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--text-font);
    font-size: 2.2rem;
    line-height: 3.3rem;
    letter-spacing: 0.22px;
    color: var(--text-color);
    background-color: var(--white-color);
}
/* CONTAINER STYLES */
.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE HEADER STYLES */
.site-header {
    padding: 3rem 0;
    position: relative;
    z-index: 100;
    background-color: var(--white-color);
}
.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo {
    display: flex;
}
.site-logo-img {
    width: 177px;
    height: 50px;
    object-fit: contain;
}
.sitenav-list {
    display: flex;
}
.sitenav-item:not(:last-child) {
    margin-right: 4rem;
}
.sitenav-link {
    color: var(--primary-color);
    font-size: 1.9rem;
    line-height: 3rem;
    letter-spacing: 0.4px;
}
.sitenav-link:hover {
    color: var(--brand-color);
}
.burger-btn {
    display: none;
}
.flow-navbar {
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    padding: 2rem;
    text-align: center;
    top: 16vh;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.burger-btn,
.flow-navbar__close {
    padding: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.burger-btn img,
.flow-navbar__close img {
    width: 30px;
    height: 30px;
}
.flow-navbar__add {
    transform: translateY(0%);
    transition: transform 0.5s ease;
}
.flow-navbar__remove {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}
.hidden {
    display: none !important;
}


@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {
    .sitenav {
        display: none;
    }
    .burger-btn {
        display: block;
    }
    .sitenav-list {
        flex-direction: column;
    }
    .sitenav-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}
@media only screen and (max-width: 576px) {

}
@media only screen and (max-width: 410px) {

}